# Templates

Name                           | Description      | Language
:------------------------------|:----------------------------------------------|:------------------
{{#templates}}
{{Name}} |{{#Project.Config}}{{description}}|{{language}}{{/Project.Config}}
{{/templates}}





